* {
    margin: 0;
    padding: 0;
}
.HStack {
    position: fixed;
    display: flex;
    bottom: 0;
    gap: 5px;
    height: 18vh;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    z-index: 1;
    width: 100vw;
    margin-bottom: 10%;
    
}

.HStack .info-card {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex: 0 0 320px;
    font-size: 25px;
    scroll-snap-align: start;
    min-width: 75%;
}