.popup-container {
  margin: 15px 30px 10px 30px;
  height: auto;
  width: auto;
  display: flex;
  min-height: 50px;
  min-width: 240px;
  /* justify-content: space-between; */
}
.icon-container {
  display: flex;
  height: 38%;
}

.vl {
  border-left: 1px solid rgb(204, 204, 204);
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.name2 {
  font-size: small;
  color: rgb(255, 255, 255);
}

.popup-details {
  max-width: 180px;
}

.popup-details--name {
  font-size: medium;
  color: #1f2937;
  font-weight: bold;
}

.popup-details--address {
  color: #4b5563;
  font-size: small;;
}

.popup-details--times {
  color: #4b5563;
  font-size: small;
}

.popup-rating {
  display: flex;
  /* justify-content: space-around; */
  margin-top: 5px;
}

.popup-rating--numbers {
  padding: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.popup-rating--icons {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  font-size: large;
}
